/*
html
{
  background-image:url('grass.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
}

#zonesContainer{}
.zone{}
.zoneNumber{}
.zoneName{}
.zoneNameEdit{}
.startZone{}
.stopZone{}
.deleteZone{}
#zoneNew{}


#programsContainer{border:2px solid; margin:10px; padding:5px; float: left;}
.program{float: left; padding: 5px;}
.programName{}
.programNameEdit{}
.startProgram{}
.stopProgram{}
.deleteProgram{}
.programZonesContainer{border:1px solid;}
.programZone{}
.programZoneName{}
.programZoneDuration{}
.programZoneRemove{}
.programZoneNew{}
#programNew{clear:both;}


#schedulesContainer {border:2px solid; margin:10px; padding:5px; float: left;}
.schedule {float: left; margin: 5px; padding: 5px; border:1px solid;}
#scheduleNew{margin:10px;}


*/


#zones{margin-top: 20px;}
.zone{}

#programs{border:1px solid; margin-top: 20px;}
.program{float: left; margin-left: 10px; margin-bottom: 10px; border:1px solid; padding:10px;}
#newProgramButton{clear: both; margin-bottom: 10px; margin-right: 10px;}

#schedules{border:1px solid; margin-top: 20px;}
.schedule{float: left; margin-left: 10px; margin-bottom: 10px; border:1px solid; padding:10px;}
#newScheduleButton{clear: both; margin-bottom: 10px; margin-right: 10px;}